:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: left;
  margin: 0;
  font-size: 2.2rem;
  font-family: "hk_groteskregular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-width: var(--contentWidth);
}

article {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
  border-top: solid black 1px;
}

section {
  width: 60%;
  margin: 4.3rem 1rem 4.3rem 1rem;
}

section.links {
  margin: 0rem 1rem 6rem 1rem;
}

section.title {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 6rem 1rem 2.2rem 1rem;
}

section.category {
  border: solid 1px black;
  padding: 2rem 2rem 2.1rem 2rem;
  border-radius: 35px;
  margin: 0 1.5rem 0 0;
  width: auto;
}

section.categories {
  width: 60%;
  display: flex;
  align-items: flex-start;
  margin: 0 0 6rem 0;
}

footer {
  width: 60%;
  background-color: none;
  border: solid black 1px;
  padding: 0;
  margin: 3rem 1rem 0 1rem;
  padding: 1rem 0 2rem 0;
}

.preview-title {
  background-color: blue;
  margin: 0;
  position: absolute;
  padding: 3rem 3.5rem;
  border-radius: 35px;
  z-index: 2;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  width: auto;
  margin: 0;
}

h2,
.headerlink,
.headerlink:hover,
.headerlink:active,
.headerlink:visited,
.headerlink::after {
  font-size: 2.5rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
  cursor: pointer;
  color: black;
  text-decoration: none;
  background: none;
  box-shadow: none;
}

h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

h4 {
  font-style: italic;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

h5 {
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  line-height: 4.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h5.footer {
  margin: 0 2rem;
}

h5.caption {
  padding: 0;
  margin: 1rem 0 0 0;
  line-height: 0;
}

h5.preview {
  padding: 0;
  margin: 0;
  line-height: 0;
  color: white;
  z-index: 3;
}

h5.category {
  line-height: 0;
  margin: 0;
}

p {
  width: 100%;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}

p.disclaimer {
  margin: 6rem 2rem 0 2rem;
  width: auto;
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 blue;
  transition: box-shadow 0.1s;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  cursor: pointer;
}

a:hover {
  color: blue;
  box-shadow: inset 0 -0.3rem 0 0 blue;
  transition: box-shadow 0s;
}

a.caption,
a.caption:hover,
a.caption:visited,
a.caption:visited {
  color: black;
  box-shadow: inset 0 -0.15rem 0 0 black;
}

figure {
  width: 80%;
  padding: 0;
  margin: 0 2rem 3rem 2rem;
}

figure.portrait {
  width: 20%;
  margin: 6rem 2rem 0 2rem;
}

figcaption {
  margin: 0;
}

ul {
  line-height: 3.5rem;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  width: 100%;
  margin: 0;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
}

button {
  font-family: "hk_groteskregular", sans-serif;
  font-size: 2.5rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
  background-color: white;
  border: solid white 1px;
  border-radius: 10px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
  background: none;
}

.github {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 50px;
  height: auto;
  box-shadow: none;
}

a.github {
  margin: 0;
  box-shadow: none;
}

.container {
  justify-content: stretch;
}

.preview-img,
.preview-img:visited {
  height: auto;
  width: 120rem;
  padding: 0;
  margin: 0;
  box-shadow: none;
  opacity: 0.5;
  z-index: 1;
}

.preview-img:hover,
.preview-img:active {
  height: auto;
  width: 120rem;
  padding: 0;
  margin: 0;
  box-shadow: none;
  opacity: 1;
  z-index: 1;
}

.infogrid {
  background-color: white;
  border: solid 1px black;
  margin-top: 0;
  margin-bottom: 6rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.infogrid > div {
  margin: 2rem;
}

.grid {
  margin: 6rem 2rem;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid > div {
  width: 50rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
}

.buttonlink,
.buttonlink::after,
.buttonlink:active,
.buttonlink:hover,
.buttonlink:hover::after,
.buttonlink:visited {
  cursor: pointer;
  color: black;
  text-decoration: none;
  background: none;
  box-shadow: none;
}

.one {
  background-color: rgba(0, 0, 255, 1);
}

.two {
  background-color: rgba(0, 0, 255, 0.7);
}

.three {
  background-color: rgba(0, 0, 255, 0.5);
}

.four {
  background-color: rgba(0, 0, 255, 0.2);
}

.five {
  background-color: rgba(0, 255, 0, 0.5);
}

.six {
  background-color: rgba(255, 0, 0, 0.2);
}

.seven {
  background-color: rgba(255, 0, 0, 0.4);
}

.eight {
  background-color: rgba(255, 0, 0, 0.6);
}

.nine {
  background-color: rgba(255, 0, 0, 0.8);
}

.ten {
  background-color: rgba(255, 0, 0, 1);
}

.eleven {
  background-color: rgba(255, 0, 0, 1);
}

.twelve {
  background-color: rgba(255, 0, 0, 1);
}

@media only screen and (max-width: 2100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1100px) {
  article {
    width: 100vw;
    margin-bottom: 6rem;
  }

  section {
    width: auto;
    display: inline-block;
    margin: 3rem 2rem 3.5rem 2rem;
  }

  section.title {
    width: calc(100vw - 4rem);
    margin: 4rem 2rem 2rem 2rem;
  }

  section.links {
    width: calc(100vw - 4rem);
    margin-bottom: 5rem;
  }

  section.categories {
    width: calc(100vw - 4rem);
    display: flex;
    align-items: flex-start;
    margin: 0 2rem 5rem 2rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  p {
    width: auto;
    font-size: 1.7rem;
  }

  a {
    box-shadow: inset 0 -0.25rem 0 0 blue;
  }

  a:hover {
    color: blue;
    box-shadow: inset 0 -0.25rem 0 0 blue;
    transition: box-shadow 0s;
  }

  li {
    font-size: 1.7rem;
  }

  button {
    font-size: 2.2rem;
  }

  img {
    width: 100%;
  }

  figure {
    width: auto;
    margin-bottom: 1rem;
  }

  figure.portrait {
    width: auto;
    margin: 4rem 2rem 0 2rem;
  }

  figcaption {
    width: auto;
  }

  footer {
    width: calc(100vw - 4rem);
    margin-top: 1rem;
  }

  .portrait {
    width: 100%;
  }

  .infogrid {
    width: calc(100vw - 4rem);
  }

  .grid {
    margin-top: 6rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6rem;
  }
}

@media only screen and (max-width: 800px) {
  .infogrid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .grid > div {
    height: 30rem;
  }
}
