.App {
  text-align: left;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

main {
  margin: 1rem;
  display: grid;
  justify-content: center;
}

article {
  margin: 0px;
  width: 80vw;
}

section {
}

footer {
  background-color: yellow;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8rem;
  font-weight: 200;
  padding: 0.02rem 1rem 0.02rem 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

p {
 font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

figure {
  padding: 0.02rem 1rem 0.02rem 1rem;
}

.preview {
  width: 80vw;
  margin-bottom: 2rem;
}

img {
  width: inherit;
}

nav {
  display: flex;
  font-size: 2rem;
  letter-spacing: -0.02rem;
}

.button {
  font-size: 2rem;
  letter-spacing: -0.02rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.4rem 1rem 0.5rem 1rem;
  margin-left: 0.5rem; 
}



.preview-all {
  display: grid;
  justify-content: center;
  width: 100vw;
}

