:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: left;
  margin: 0;
  font-size: 2rem;
  font-family: 'hk_groteskregular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-width: var(--contentWidth);
}

article {
  width: 100%;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  border-top: solid black 1px;
}

section {
  width: 60%;
  margin-bottom: none;
  margin: 2rem 0 2rem 0;
}

footer {
  width: 75%;
  background-color: none;
  border: solid black 1px;
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0;
  width: 100%;
}

h2, .headerlink, .headerlink:hover, .headerlink:active, .headerlink:visited, .headerlink::after {
  font-size: 2.5rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
  margin: inherit;
  padding: inherit;
  cursor: pointer;  
  color: black;
  text-decoration: none;
  background: none;
  box-shadow: none;
}

h3 {
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0 1rem 0 1rem;
}

h3.top {
    z-index: 2;
    position: absolute;
    color: white;
}

p {
  width: 100%;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}

a {
  color: blue;
  text-decoration: none;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 blue;  
  transition: box-shadow 0.1s;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a:hover {
  color: blue;
  box-shadow: inset 0 -0.3rem 0 0 blue;
  transition: box-shadow 0s;
}

  a.caption, a.caption:hover, a.caption:visited,  a.caption:visited {
    color: black;
    box-shadow: inset 0 -0.15rem 0 0 black;
  }

figure {
  width: 80%;
  padding: 0;
  margin: 0 0 0 0;
}

figcaption {
  margin-top: 0;
  width: 80%;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.3rem;
  font-weight: 700;
}

ul {
  line-height: 3.5rem;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  width: 100%;
  margin: 0;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
}

button {
  font-family: 'hk_groteskregular', sans-serif;
  font-size: 2.5rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
  background-color: white;
  border: solid white 1px;
  border-radius: 10px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
  background: none;
}

.title {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 3rem 0 1.7rem 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 4rem 0 2.5rem 0;
}

.portrait {
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
}

.github {
  width: 50px;
  height: auto;
  box-shadow: none;
}

.preview-all {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 0 auto auto auto 0;
  /* grid-template-rows: 44.4rem 44.4rem; */
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.preview-img {
  height: 40rem;
  width: auto;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.preview1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  grid-column: 2 / 3;  
  grid-row: 1 / 2;
/*   align-self: stretch; */
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
  background-color: white;
}

.preview2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  grid-column: 3 / 4;  
  grid-row: 1 / 2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
  background-color: white;

}

.preview3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  grid-column: 4 / 5;  
  grid-row: 1 / 2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
  background-color: white;

}

.preview4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  grid-column: 2 / 3;  
  grid-row: 2 / 3;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
  background-color: white;

}

.preview5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  grid-column: 3 / 4;  
  grid-row: 2 / 3;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
  background-color: white;
}

.preview100 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  grid-column: 4 / 5;  
  grid-row: 2 / 3;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
  background-color: #ccc;
}

.buttonlink, .buttonlink::after, .buttonlink:active, .buttonlink:hover, .buttonlink:hover::after, .buttonlink:visited {
  cursor: pointer;  
  color: black;
  text-decoration: none;
  background: none;
  box-shadow: none;
}

.one {
   background-color: rgba(0, 0, 255, 1);
}

.two {
background-color: rgba(0, 0, 255, 0.7);
}

.three {
background-color: rgba(0, 0, 255, 0.5);
}

.four {
background-color: rgba(0, 0, 255, 0.2);
}

.five {
background-color: rgba(0 , 255, 0, 0.5);
}

.six {
background-color: rgba(255, 0, 0, 0.2);
}

.seven {
background-color: rgba(255, 0, 0, 0.4);
}

.eight {
background-color: rgba(255, 0, 0, 0.6);
}

.nine {
background-color: rgba(255, 0, 0, 0.8);
}

.ten {
background-color: rgba(255, 0, 0, 1);
}

.eleven {
background-color: rgba(255, 0, 0, 1);
}

.twelve {
background-color: rgba(255, 0, 0, 1);
}

.github {
  box-shadow: inset 0 0 0 0 blue;
}

@media only screen and (max-width: 1300px) {

.preview-all {
  grid-template-columns: auto 45rem 45rem auto;
  grid-template-rows: 44.4rem 44.4rem 44.4rem;
}

.preview1 {
  grid-column: 2 / 3;  
  grid-row: 1 / 2;
}

.preview2 {
  grid-column: 3 / 4;  
  grid-row: 1 / 2;
}

.preview3 {
  grid-column: 2 / 3;  
  grid-row: 2 / 3;
}

.preview4 {
  grid-column: 3 / 4;  
  grid-row: 2 / 3;
}

.preview5 {
  grid-column: 2 / 3;  
  grid-row: 3 / 4;
}

}

@media only screen and (max-width: 1000px) {

  article {
    width: 100%;
    font-size: 1.7rem;
  }

  section {
    width: 100%;
    margin: 2.5rem 2rem 2.5rem 2rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  a {
    box-shadow: inset 0 -0.25rem 0 0 blue;
  }

  a:hover {
    color: blue; 
    box-shadow: inset 0 -0.25rem 0 0 blue;  
    transition: box-shadow 0s;
  }

  button {
    font-size: 2.2rem;
  }

  img {
    width: 100%;
  }

  figure {
    width: auto;
    margin: 0 2rem 1rem 2rem;
  }

  figcaption {
    width: auto;
    width: 0 0 1rem 0;
    margin: 0 2rem 1rem 2rem;
  }

  footer {
    margin-top: 2rem;
    margin-bottom: 0;
    width: 100%;
  }

  .title {
    width: 100%;
    margin: 3rem 2rem 1.7rem 2rem;
  }

  .preview-img {
  width: 100%;
  height: auto;
  }
  
  .description {
    width: auto;
    margin: 4rem 2rem 0rem 2rem;
  }

  .preview-all {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

  .preview1 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    align-self: start;
    margin: 0 2rem 4rem 2rem;
  }

  .preview2 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    align-self: start;
    margin: 0 2rem 4rem 2rem;
  }

  .preview3 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    align-self: start;
    margin: 0 2rem 4rem 2rem;
  }

    .preview4 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    align-self: start;
    margin: 0 2rem 4rem 2rem;
  }

    .preview5 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    align-self: start;
    margin: 0 2rem 4rem 2rem;
  }

  .portrait {
    width: 100%;
  }

}




