:root {
  font-size: 62.5%;
  --side-padding: 0 6rem;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "hk_groteskregular";
  src: url("fonts/hkgrotesk-regular.eot");
  src: url("fonts/hkgrotesk-regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/hkgrotesk-regular.woff2") format("woff2"),
    url("fonts/hkgrotesk-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "hk_grotesksemibold";
  src: url("fonts/hkgrotesk-semibold.eot");
  src: url("fonts/hkgrotesk-semibold.eot?#iefix") format("embedded-opentype"),
    url("fonts/hkgrotesk-semibold.woff2") format("woff2"),
    url("fonts/hkgrotesk-semibold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}

body {
  margin: 0;
  font-family: "hk_groteskregular", sans-serif;
  font-size: 2.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-width: var(--contentWidth);
}


section.title {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 6rem 1rem 2.2rem 1rem;
}

footer {
  width: 60%;
  background-color: none;
  border: solid black 1px;
  margin: 3rem 1rem 0 1rem;
  padding: 1rem 0 2rem 0;
}

footer.tech {
  padding: 0;
  margin: 0;
}

.preview-title {
  color: black;
  background-color: var(--color);
  margin: 0;
  position: absolute;
  padding: 3rem 3.5rem;
  z-index: 2;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  width: auto;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
  background: none;
  box-shadow: none;
}

h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

h3.tech {
  margin: 2rem;
}

h4 {
  font-style: italic;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

h5 {
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  line-height: 4.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h5.footer {
  margin: 0 2rem;
}

h5.caption {
  padding: 0;
  margin: 1rem 0 0 0;
  line-height: 0;
}

h5.preview {
  padding: 0;
  margin: 0;
  line-height: 0;
  z-index: 3;
}

h5.category {
  line-height: 0;
  margin: 0;
}

p {
  font-size: 2.2rem;
  font-family: "hk_groteskregular", sans-serif;
  width: 70%;
  margin: 1.7rem 0;
  font-weight: 400;
}

p.disclaimer {
  margin: 6rem 2rem 0 2rem;
  width: auto;
  text-align: center;
}

a,
a:active,
a:visited {
  color: black;
  text-decoration: none;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 black;
  transition: box-shadow 0.1s;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  cursor: pointer;
}

a:hover {
  color: black;
  box-shadow: inset 0 -0.3rem 0 0 black;
  transition: box-shadow 0s;
}

a.caption,
a.caption:hover,
a.caption:visited,
a.caption:visited {
  color: black;
  box-shadow: inset 0 -0.15rem 0 0 black;
}

figure {
  width: 80%;
  padding: 0;
  margin: 0 2rem 3rem 2rem;
}

figure.portrait {
  width: 20%;
  margin: 6rem 2rem 5rem 2rem;
}

figcaption {
  margin: 0;
}

ul {
  line-height: 3.5rem;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  width: 100%;
  margin: 0;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
}

.portrait {
  box-shadow: none;
}

.github {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 50px;
  height: auto;
  box-shadow: none;
}

a.github {
  margin: 0;
  box-shadow: none;
}

.container {
  justify-content: stretch;
}

.preview-img,
.preview-img:visited {
  height: auto;
  width: 120rem;
  padding: 0;
  margin: 0;
  box-shadow: none;

  z-index: 1;
}

.preview-img:hover,
.preview-img:active {
  height: auto;
  width: 120rem;
  padding: 0;
  margin: 0;
  box-shadow: none;

  z-index: 1;
}

.techgrid {
  width: 100%;
  margin: 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.techgrid > div {
  margin: 2rem;
}

.grid {
  margin: 6rem 9rem;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
}

.grid > div {
  height: calc(33vw - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 1px #ccc;
  -moz-box-shadow: 0px 0px 6px 1px #ccc;
  box-shadow: 0px 0px 6px 1px #ccc;
}

.grid > div:hover {
  opacity: 0.5;
}

.buttonlink,
.buttonlink::after,
.buttonlink:active,
.buttonlink:hover,
.buttonlink:hover::after,
.buttonlink:visited {
  cursor: pointer;
  color: black;
  text-decoration: none;
  background: none;
  box-shadow: none;
}

@media only screen and (min-width: 2100px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid > div {
    height: calc(20vw - 4rem);
  }
}

@media only screen and (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid > div {
    height: calc(50vw - 4rem);
  }
}

@media only screen and (max-width: 1000px) {
  article {
    width: 100vw;
    margin-bottom: 6rem;
  }



  section.title {
    width: calc(100vw - 4rem);
    margin: 4rem 2rem 2rem 2rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  p {
    width: auto;
    font-size: 1.7rem;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    box-shadow: inset 0 -0.25rem 0 0 black;
  }

  li {
    font-size: 1.7rem;
  }

  button {
    font-size: 2.2rem;
  }

  img {
    width: 100%;
  }

  figure {
    width: auto;
    margin-bottom: 1rem;
  }

  figure.portrait {
    width: 50vw;
    margin-top: 4rem;
  }

  figcaption {
    width: auto;
  }

  footer {
    width: calc(100vw - 4rem);
    margin-top: 1rem;
  }

  .portrait {
    width: 100%;
  }

  .techgrid {
    width: calc(100vw - 4rem);
    grid-template-columns: 1fr;
  }


}
