@font-face {
    font-family: 'hk_groteskregular';
    src: url('fonts/hkgrotesk-regular.eot');
    src: url('fonts/hkgrotesk-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/hkgrotesk-regular.woff2') format('woff2'),
         url('fonts/hkgrotesk-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'hk_grotesksemibold';
  src: url('fonts/hkgrotesk-semibold.eot');
  src: url('fonts/hkgrotesk-semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/hkgrotesk-semibold.woff2') format('woff2'),
        url('fonts/hkgrotesk-semibold.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('fonts/IBMPlexMono-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  font-family: 'hk_groteskregular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
