@font-face {
  font-family: "HK Grotesk";
  src: url("fonts/HKGrotesk-Regular.eot");
  src: url("fonts/HKGrotesk-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/HKGrotesk-Regular.woff2") format("woff2"),
    url("fonts/HKGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("fonts/HKGrotesk-Italic.eot");
  src: url("fonts/HKGrotesk-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/HKGrotesk-Italic.woff2") format("woff2"),
    url("fonts/HKGrotesk-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("fonts/HKGrotesk-Medium.eot");
  src: url("fonts/HKGrotesk-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/HKGrotesk-Medium.woff2") format("woff2"),
    url("fonts/HKGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("fonts/HKGrotesk-MediumItalic.eot");
  src: url("fonts/HKGrotesk-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/HKGrotesk-MediumItalic.woff2") format("woff2"),
    url("fonts/HKGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}

:root {
  font-size: 62.5%;
  --side-padding: 0 6rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "HK Grotesk", sans-serif;
  font-weight: 500;
  font-size: 2.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.02rem;
  font-weight: 500;
}

h2 {
  font-size: 2.3rem;
  letter-spacing: -0.02rem;
  font-weight: 700;
}

h3 {
  font-size: 2.3rem;
  letter-spacing: -0.02rem;
  font-weight: 500;
  font-style: italic;
}

h4 {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  line-height: 4.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h5.caption {
  padding: 0;
  margin: 1rem 0 0 0;
  line-height: 0;
}

h5.preview {
  padding: 0;
  margin: 0;
  line-height: 0;
  z-index: 3;
}

h5.category {
  line-height: 0;
  margin: 0;
}

p {
  margin: 1.7rem 0;
}

p.disclaimer {
  margin: 6rem 2rem 0 2rem;
  width: auto;
  text-align: center;
}

a,
a:active,
a:visited {
  color: black;
  text-decoration: none;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 black;
  transition: box-shadow 0.1s;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  cursor: pointer;
}

a:hover {
  color: black;
  box-shadow: inset 0 -0.3rem 0 0 black;
  transition: box-shadow 0s;
}

a.caption,
a.caption:hover,
a.caption:visited,
a.caption:visited {
  color: black;
  box-shadow: inset 0 -0.15rem 0 0 black;
}

figcaption {
  margin: 0;
}

ul {
  line-height: 3.5rem;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  max-width: 100%;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  p {
    width: auto;
    font-size: 1.7rem;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    box-shadow: inset 0 -0.25rem 0 0 black;
  }

  li {
    font-size: 1.7rem;
  }

  button {
    font-size: 2.2rem;
  }

  img {
    width: 100%;
  }

  figcaption {
    width: auto;
  }

  footer {
    width: calc(100vw - 4rem);
    margin-top: 1rem;
  }

  .techgrid {
    width: calc(100vw - 4rem);
    grid-template-columns: 1fr;
  }
}
